VisualStudioProject/RESTService/Connected Services/ServiceReferenceTravelData/ServiceTravelData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RESTService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RESTService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1794/ServiceTravelData.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTravelSendInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TravelSendInfo" nillable="true" type="tns:TravelSendInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravelSendInfo" nillable="true" type="tns:ArrayOfTravelSendInfo" />
  <xs:complexType name="TravelSendInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departureDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departureLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderID" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:float" />
      <xs:element minOccurs="0" name="returnlDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelSendInfo" nillable="true" type="tns:TravelSendInfo" />
  <xs:complexType name="TravelReceiveInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departureDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="discount" type="xs:float" />
      <xs:element minOccurs="0" name="googleID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="passengerData" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="planeCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:float" />
      <xs:element minOccurs="0" name="returnDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelReceiveInfo" nillable="true" type="tns:TravelReceiveInfo" />
  <xs:complexType name="ArrayOfPassenger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Passenger" nillable="true" type="tns:Passenger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPassenger" nillable="true" type="tns:ArrayOfPassenger" />
  <xs:complexType name="Passenger">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passengerID" type="xs:int" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Passenger" nillable="true" type="tns:Passenger" />
</xs:schema>