VisualStudioProject/RESTService/Connected Services/ServiceReferenceTravelData/ServiceTravelData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTravelData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1794/ServiceTravelData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1794/ServiceTravelData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1794/ServiceTravelData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RESTService" />
      <xsd:import schemaLocation="http://localhost:1794/ServiceTravelData.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTravelData_ReturnTravels_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnTravels" />
  </wsdl:message>
  <wsdl:message name="IServiceTravelData_ReturnTravels_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnTravelsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTravelData_AddTravel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTravel" />
  </wsdl:message>
  <wsdl:message name="IServiceTravelData_AddTravel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTravelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTravelData_RemoveTravel_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTravel" />
  </wsdl:message>
  <wsdl:message name="IServiceTravelData_RemoveTravel_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTravelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTravelData_ReturnPassengers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnPassengers" />
  </wsdl:message>
  <wsdl:message name="IServiceTravelData_ReturnPassengers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnPassengersResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTravelData">
    <wsdl:operation name="ReturnTravels">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTravelData/ReturnTravels" message="tns:IServiceTravelData_ReturnTravels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTravelData/ReturnTravelsResponse" message="tns:IServiceTravelData_ReturnTravels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTravel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTravelData/AddTravel" message="tns:IServiceTravelData_AddTravel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTravelData/AddTravelResponse" message="tns:IServiceTravelData_AddTravel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTravel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTravelData/RemoveTravel" message="tns:IServiceTravelData_RemoveTravel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTravelData/RemoveTravelResponse" message="tns:IServiceTravelData_RemoveTravel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnPassengers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTravelData/ReturnPassengers" message="tns:IServiceTravelData_ReturnPassengers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTravelData/ReturnPassengersResponse" message="tns:IServiceTravelData_ReturnPassengers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServiceTravelData" />
</wsdl:definitions>