RESTService/Connected Services/ServiceReferencePersonData/ServicePersonData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePersonData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1794/ServicePersonData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1794/ServicePersonData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1794/ServicePersonData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RESTService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePersonData_ReturnUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnUsers" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_ReturnUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_ReturnUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnUser" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_ReturnUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_ReturnPassengers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnPassengers" />
  </wsdl:message>
  <wsdl:message name="IServicePersonData_ReturnPassengers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnPassengersResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePersonData">
    <wsdl:operation name="ReturnUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonData/ReturnUsers" message="tns:IServicePersonData_ReturnUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonData/ReturnUsersResponse" message="tns:IServicePersonData_ReturnUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonData/ReturnUser" message="tns:IServicePersonData_ReturnUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonData/ReturnUserResponse" message="tns:IServicePersonData_ReturnUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonData/AddUser" message="tns:IServicePersonData_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonData/AddUserResponse" message="tns:IServicePersonData_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonData/RemoveUser" message="tns:IServicePersonData_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonData/RemoveUserResponse" message="tns:IServicePersonData_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonData/UpdateUser" message="tns:IServicePersonData_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonData/UpdateUserResponse" message="tns:IServicePersonData_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnPassengers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonData/ReturnPassengers" message="tns:IServicePersonData_ReturnPassengers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonData/ReturnPassengersResponse" message="tns:IServicePersonData_ReturnPassengers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServicePersonData" />
</wsdl:definitions>